asttokens==2.4.0
bcrypt==4.0.1
cryptography==41.0.5
fastapi==0.104.1
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
jose==1.0.0
opencv-python==4.8.1.78
passlib==1.7.4
pickleshare==0.7.5
platformdirs==3.11.0
pyasn1==0.5.0
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
PyYAML==6.0.1
pyzmq==25.1.1
requests==2.31.0
uvicorn==0.24.0.post1
